$color-gray-background: #212226;
$color-white: #ffffff;
$color-soft-gray: #a1a1a3;
$color-cosmic-purple: #21504a;
$color-gray-post: #141416;
$color-purple-gradient: #3d6c66;
$color-orange-gradient: #6b6b6b;
$color-black: #000000;
$color-purple-buttons: #133b36;
$color-gray-footer: #161616;